@{
    string isLogin = "False";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Include SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

    <!-- Include SweetAlert JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .side-link {
            list-style: none;
            border-radius: 12px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
            padding: 10px;
            margin: 5px;
            display: flex;
            justify-content: space-between;
        }

        .link {
            text-decoration: none;
            color: darkgray;
        }

        .icon {
            line-height: inherit;
        }

        .border-radius-8 {
            border-radius: 8px;
        }

        .search {
            border-radius: 7px;
            padding: 2px 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sudoku</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
                    <li class="nav-item">
                        @Html.ActionLink("Chapter", "Index", "Chapters", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contest", "Index", "Contests", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @RenderSection("nav_sub_item", false)
                    </li>
                    <li id="personal" onclick="showPersonalList()" class="nav-item" style="position: relative; left: 80%">
                        <button class="btn text-white border-0" type="button">
                            <i class="fa-solid fa-coins fa-xl"></i>
                            @{
                                if (Session["Point"] == null)
                                {
                                    <span class="text-white" id="point">0</span>
                                }
                                else
                                {
                                    <span class="text-white" id="point">@Session["Point"]</span>
                                }
                            }
                        </button>

                        <button class="text-white btn border-0 dropdown-toggle" role="button" aria-expanded="false">
                            @*<i class="fa-regular fa-circle-user fa-xl"></i>*@
                            <img src="@Session["UserImage"]" id="profileImage" style="width: 30px; height: 30px" alt="" loading="lazy" />
                        </button>

                        @RenderPage("~/Views/Shared/Personal_section.cshtml")
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content" style="margin-top:0">
        <div class="row mb-4">
            <div class="col-lg-2 col-2 p-4 pt-5" style="border: 1px ridge">
                @*@RenderPage("~/Views/Shared/Side_bar.cshtml")*@
                @RenderSection("Left_side", false)
            </div>
            <div class="col-lg-8 col-8 pb-5 mt-4" style="background-color: whitesmoke;">
                @RenderBody()

            </div>
            <div class="col-lg-2 col-2">
                @RenderSection("Right_side", false)
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    //$(document).ready(function () {
    //    $.ajax({
    //        url: '/users/user',
    //        type: 'get',
    //        success: function (response) {
    //            console.log(response)
    //            document.getElementById('profileImage').src = response.Profile_Image
    //        }
    //    })
    //})
</script>