@model IEnumerable<Sudoku.Dtos.Outgoing.ContestDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .room {
        text-decoration: none;
        color: black;
    }

        .room:hover {
            color: black;
            background-color: whitesmoke;
        }
</style>
@{
    if (ViewBag.Conflict != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Conflict
        </div>
    }
}

@section Left_side{

    @*<input id="chapterName" type="text" class="form-control mb-2" name="chapterName" placeholder="Name Chapter" />
        <button class="btn btn-success" type="submit" onclick="getChapter(1)">Search</button>*@
    @{
        if (Session["UserCurrentRoom"] != null)
        {
            string link = "/Contests/Room?roomId=" + Session["UserCurrentRoom"];
            <div id="currentRoomBox" class="shadow p-3 mb-2 bg-white rounded" style="">
                <a id="currentRoom" href="@link" class="btn">Return to your room</a>
            </div>
        }
    }
}

<div class="container">

    <div class="card">
        <div class="card-header">
            <div class="row">
                <p class="col-3 ps-3">
                    Name
                </p>
                <p class="col-3 ps-3">
                    Point
                </p>
                <p class="col-3 ps-3">
                    Joined
                </p>
                <p class="col-3 ps-3">
                    Level
                </p>
            </div>
        </div>
        <div class="card-body">

            @foreach (var item in Model)
            {
                string link = "/Contests/Room?roomId=" + item.Id;
                <a class="row mb-2 room" href="@link">
                    <p class="col-3  ps-3">
                        @Html.DisplayFor(modelItem => item.Name)
                    </p>
                    <p class="col-3  ps-3">
                        @Html.DisplayFor(modelItem => item.Point)
                    </p>
                    <p class="col-3  ps-3">
                        @Html.DisplayFor(modelItem => item.NumberOfJoined)
                    </p>
                    <p class="col-3 ps-3">
                        @Html.DisplayFor(modelItem => item.Level)
                    </p>
                </a>
                <hr />
            }
            <p class="d-flex justify-content-end pe-4 m-0">
                @Html.ActionLink("New room", "Create", new { }, new { @class = "btn btn-secondary" })
            </p>
        </div>
    </div>

</div>

<script>

</script>